<div class="login-container">
  <div class="container-form">
    <form class="sign-in" id="login-form">
      <h2>Iniciar sesión</h2>
      <span>Use su usuario y contraseña</span>
      <div class="container-input">
        <i class="fa-solid fa-envelope"></i>
        <input type="text" id="login-name" placeholder="name" required />
      </div>
      <div class="container-input">
        <i class="fa-solid fa-lock"></i>
        <input
          type="password"
          id="login-pass"
          placeholder="Contraseña"
          required
        />
      </div>
      <button type="submit" class="button" id="btn-login-submit">
        Iniciar sesión
      </button>
    </form>
  </div>

  <div class="container-welcome">
    <h3>Bienvenido a Farmacia Génesis</h3>
  </div>
</div>
